{% extends 'main.html' %}


{% block body %}
    <form method="POST">
        {% csrf_token %}

        <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">


        <a class="text-blue-500 text-xl" href="{{ request.META.HTTP_REFERER }}">GO BACK</a>

        <div class="flex flex-col gap-2">
            <label for="deleteInput">Are you sure you want to delete {{ object }} </label>
            <input class="bg-red-600 text-xl px-4 py-1 max-w-min rounded-md cursor-pointer" type="submit" value="Confirm">
        </div>
    </form>
{% endblock body %}
    