{% extends 'main.html' %}

{% block body %}

    <style>
        .home-container {
            display : grid ; 
            grid-template-columns: 1fr 3fr ;
        }
    </style>

    <div class="home-container">

        <!-- topics -->
        <div>
            <h3>
                Browse Topics
            </h3>
            <hr>

            <div>
                <a href="{% url 'home' %}">All</a>
            </div>            
            {% for topic in topics %}
                <div>
                    <a href="{% url 'home' %}?query={{ topic.name }}">
                        {{ topic.name }}
                    </a>
                </div>
            {% endfor %}
                
        </div>
        
        
        <!-- rooms -->
        <div>
            <h5>{{ rooms_count }} rooms available .</h5>
            <a  href="{% url 'create_room' %}">Create Room</a>

            {% for room in rooms %}
                <div class="my-6">
                    
                    <div>
                        <a href="{% url 'update_room' room.id %}">Update</a>
                        <a href="{% url 'delete_room' room.id %}">Delete</a>
                    </div>
                    <h3>{{ room.topic.name }} </h3>
                    <h5>
                        {{ room.id }} -- <a class="text-blue-500" href="{% url 'room' room.id %}"> {{ room.name }} </a> 
                    </h5>
                    <small>@{{ room.host.username }} </small>
                    <hr>
                </div>
            {% endfor %}
        </div>            
    </div>
{% endblock body %}
    