{% extends 'main.html' %}


{% block body %}

<style>
    .profile-container {
        display : grid ; 
        grid-template-columns:  1fr 3fr 1fr ;
    }
</style>


    <h1> {{ user.username }} </h1>

    <div class="profile-container">
        <div>
            {% include 'base/components/topics.html' %}
        </div>

        <div>
            {% include 'base/components/feed.html' %}
        </div>

        <div>
            {% include 'base/components/recent_activity.html' %}
        </div>
    </div>
{% endblock body %}
    